{{ define "main" }}
<!-- inner banner -->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
          <h2 class="inner-text-title font-weight-bold mb-2">{{ .Title }}</h2>
        </div>
    </section>
</div>
<!-- //inner banner -->
<!-- blog section -->
<section class="w3l-blog-sec pt-5">
    <div class="services-layout py-md-4 py-3">
        <div class="container">
            <div class="row justify-content-center">
            {{ range where .Paginator.Pages "Section" "post" }}
                <div class="col-lg-4 col-md-6 column column-img" id="zoomIn">
                    <div class="services-gd">
                        <div class="serve-info">
                            <a href="#">
                                <figure>
                                  <a href="{{ .Permalink }}"><img class="img-responsive" src="{{ .Site.BaseURL }}/assets/images/wakfu.png" alt="blog-image"></a>
                                </figure>
                            </a>
                            <h3> <a href="{{ .Permalink }}" class="vv-link">{{ .Title }}</a>
                            </h3>
                            <ul class="admin-list">
                                <li><span class="fa fa-user-circle icon-color" aria-hidden="true"></span>By {{ .Params.Author }}</li>
                                {{ $date := .Date.Format "02 January 2006" }}
                                <li><span class="fa fa-calendar-alt icon-color" aria-hidden="true"></span>{{ $date }}</li>
                            </ul>
                            <p>
                            {{ .Summary }} <a href="{{ .Permalink }}" class="vv-link"> Read More.. </a>
                            </p>
                        </div>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
    </div><br><br>
{{ if gt .Paginator.TotalPages 1}}
<div align="center">
  <div class="btn-group">
  {{ if .Paginator.HasPrev }}
  <a rel="nofollow" class="btn button-style" href="{{ .Paginator.Prev.URL }}"> Prev </a>
  {{ else }}
  <button class="btn btn-secondary" disabled="disabled">Prev</button>
  {{ end }}
  {{ if .Paginator.HasNext }}
  <a rel="nofollow" class="btn button-style" href="{{ .Paginator.Next.URL }}"> Next </a>
  {{ else }}
  <button class="btn btn-secondary" disabled="disabled">Next</button>
  {{ end }}
  </div>
</div>
<br>
{{ end }}
</section>
<!-- //blog section -->
{{ end }}
