{{ define "main" }}
<!-- inner banner -->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
          <h4 class="inner-text-title font-weight-bold mb-2">{{ .Title }}</h4>
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{ .Site.BaseURL }}">Home</a></li>
              <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>{{ .Title }}</li>
            </ul>
        </div>
    </section>
</div>
<!-- //inner banner -->
<section class="w3l-content-11-main">
    <div class="content-design-11 py-5">
        <div class="container">
        <p>
          {{- .Content -}}
          </p>
        </div>
    </div>
</section>
{{ end }}
