<head>
<meta charset="utf-8">
<title> {{ .Title }} </title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="author" content="{{ $.Site.Params.Author }}">
<meta content="{{ if .IsHome }}{{ $.Site.Params.Keywords }}{{ else }}{{ range .Params.Tags }}{{ . | title | humanize }}, {{ end }}{{ end }}" name="keywords">
<meta content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}" name="description">
<meta property="og:image" content="{{ .Site.BaseURL }}img/og.png">
<!-- Favicon -->
<link href="{{ .Site.BaseURL }}/assets/images/wakfu.png" rel="icon">
<!-- Fonts -->
<link href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
<!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/fontawesome-all.min.css">
<!-- Template CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/style-starter.css">
<!-- RSS -->
{{ with .OutputFormats.Get "RSS" }}
<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}
<!-- JSON Feed -->
{{ with .OutputFormats.Get "json" }}
<link href="{{ .RelPermalink }}" rel="alternate" type="application/json" title="{{ $.Site.Title }}" />
{{ end }}
<!-- sitemap -->
{{ with .Params.robotsdisallow }}
<meta name="robots" content="noindex, nofollow, noarchive">
{{ end }}
</head>
