{{ define "main" }}
<section id="home" class="w3l-banner py-5">
    <div class="banner-image">

    </div>
    <div class="banner-content">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-center">
                <div class="col-md-6 pt-md-0 pt-4">
                    <h2>404</h2>
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                      <a class="btn button-style" href="{{ .Site.BaseURL }}">Back to Home</a>
                    </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-4">
                    <img class="img-fluid" src="assets/images/timenes.png" alt=" ">
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
