{{ define "main"}}
<!-- banner section -->
<section id="home" class="w3l-banner py-5">
    <div class="banner-image">
    </div>
    <div class="banner-content">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-center">
                <div class="col-md-6 pt-md-0 pt-4">
                    <h3 class="mb-lg-4 mb-3 title">We Are <span class="typed-text"></span><span
                            class="cursor">&nbsp</span></h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur
                        magni dolores eos qui ratione voluptatem sequi nesciunt</p>
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                       <a class="btn button-style" href="#">Join With Us</a>
                    </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-4">
                    <img class="img-fluid" src="assets/images/timenes.png" alt=" ">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->

<!-- about section -->
<div class="w3l-content-photo-5 py-5">
    <div class="container py-lg-5 py-4">
        <div class="row align-items-center">
            <div class="col-md-6 content-photo order-md-first order-last">
                <a href="#image"><img src="assets/images/wakfu.png" class="img-fluid" alt="content-photo"></a>
            </div>
            <div class="col-md-6 content-left mb-md-0 mb-5 pl-lg-5 order-md-last order-first">
                <h3 class="mb-3">Welcome To Our Website</h3>
                <p>Aptent taciti sociosqu ad litora
                    conubia nostra, per inceptos himenaeos. Aenean olutpat elementum ante.</p>
                <p class="mt-3">Nunc vel pellentesque. Class aptent taciti sociosqu ad litora
                    torquent per
                    conubia nostra, per inceptos himenaeos. Aenean volutpat elementum ante, id eleifend eros
                    luctus sit
                    amet. Tncidunt erat neque non ipsum.</p>
                <a class="btn button-style mt-lg-5 mt-4" href="#">Play Wakfu</a>
            </div>
        </div>
    </div>
</div>
<!-- //about section -->

<!-- team with text section -->
<section class="w3l-content-11-main">
    <div class="content-design-11 py-5">
        <div class="container">
            <div class="mx-auto text-center mb-sm-5 mb-4" style="max-width:800px">
                <h3 class="title-main-2 text-center mx-auto mb-sm-4 mb-2" style="max-width:600px">A Guild Wakfu in Remington Server!</h3>
                <p class="sub-para-style">Amus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non.
                    Duis sed dolor et amet.
                    Sed ut perspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam,
                    eritatis et quasi.</p>
            </div>
            <div class="row justify-content-center pt-lg-2">
                <div class="col-md-12 col-sm-6">
                    <div class="position-relative">
                        <img src="assets/images/all.png" class="img-responsive" alt="content-photo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //team with text section -->
<!-- blog section -->
<section class="w3l-blog-sec pt-5">
    <div class="services-layout py-md-4 py-3">
        <div class="container">
            <div class="text-center mb-sm-5 mb-4">
                <h3 class="title-big">Last Posts</h3>
            </div>
            <div class="row justify-content-center">
            {{ range where .Paginator.Pages "Section" "post" }}
                <div class="col-lg-4 col-md-6 column column-img" id="zoomIn">
                    <div class="services-gd">
                        <div class="serve-info">
                            <a href="#">
                                <figure>
                                  <a href="{{ .Permalink }}"><img class="img-responsive" src="{{ .Site.BaseURL }}/assets/images/wakfu.png" alt="blog-image"></a>
                                </figure>
                            </a>
                            <h3> <a href="{{ .Permalink }}" class="vv-link">{{ .Title }}</a>
                            </h3>
                            <ul class="admin-list">
                                <li><span class="fa fa-user-circle icon-color" aria-hidden="true"></span>By {{ .Params.Author }}</li>
                                {{ $date := .Date.Format "02 January 2006" }}
                                <li><span class="fa fa-calendar-alt icon-color" aria-hidden="true"></span>{{ $date }}</li>
                            </ul>
                            <p>
                            {{ .Summary }} <a href="{{ .Permalink }}" class="vv-link"> Read More.. </a>
                            </p>
                        </div>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
    </div>
    <div align="center">
      <a class="btn button-style" href="{{ .Site.BaseURL }}/post">All Post</a>
    </div>
</section>
<!-- //blog section -->
{{ end }}
